<%= form_for [:mobile, @category], class: '' do |f| %>
  <div class="row mb-3">
    <div class="form-group">

      <div class="mb-3 col-6">
        <%= f.label :name, class: 'form-label form-control-lg' %>
        <%= f.text_field :name,
                         class: 'form-control form-control-lg',
                         autofocus: true,
                         required: true,
                         enterkeyhint: 'next' %>
      </div>

      <div class="mb-3">
        <%= f.label :hex_color, "Color", class: 'form-label form-control-lg' %>
        <%= f.color_field :hex_color,
                          class: 'form-control form-control-lg',
                          required: true,
                          value: f.object.hex_color || Faker::Color.hex_color,
                          enterkeyhint: 'next' %>
      </div>

      <div class="mb-3">
        <%= f.label :category_type, t('activerecord.attributes.category.category_type'), class: 'form-label' %>
        <div>
          <%= f.radio_button :category_type, 'expenses', class: 'form-check-input', required: true %>
          <%= f.label :category_type_expense, t('labels.expenses'), class: 'form-check-label' %>
        </div>
        <div>
          <%= f.radio_button :category_type, 'incomes', class: 'form-check-input', required: true %>
          <%= f.label :category_type_income, t('labels.incomes'), class: 'form-check-label' %>
        </div>
      </div>

      <div class="mb-3 col-sm-offset-2 text-end">
        <%= f.submit 'Save', class: 'btn btn-primary btn-lg' %>
      </div>

    </div>

  </div>
<% end %>
