<div class="container my-3">
  <div class="row">
    <div class="col text-start">
      <h1>Transactions</h1>
    </div>
    <div class="col text-end">
      <%= link_to t('activerecord.labels.transaction.new_income'), new_webapp_transaction_path(transaction_type: 'income'), class: 'btn btn-success -btn-lg' %>
      <%= link_to t('activerecord.labels.transaction.new_expense'), new_webapp_transaction_path(transaction_type: 'expense'), class: 'btn btn-danger -btn-lg' %>
    </div>
  </div>
</div>
<div class="container my-3">
  <%= link_to 'Go to categories', webapp_categories_path, class: 'link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover' %>
</div>
<div class="container my-3">
  <% if @transactions.any? %>
    <%= render partial: 'mobile/transactions/transaction_card', collection: @transactions, as: :transaction %>
  <% else %>
    <div class="alert alert-info" role="alert">
      <%= t('labels.no_transactions') %>
    </div>
  <% end %>
</div>