<%= form_for [:console, @category], class: 'mb-4' do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@category.errors.count, "error") %>:</h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :name, "Nome", class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :hex_color, "Colore (HEX)", class: "form-label" %>
    <%= f.color_field :hex_color,
                      class: "form-control form-control-color",
                      style: "width: 3rem; padding: 0;",
                      value: f.object.hex_color || Faker::Color.hex_color %>
  </div>

  <div class="mb-3">
    <%= f.label :category_type, t('activerecord.attributes.category.category_type'), class: 'form-label' %>
    <div>
      <%= f.radio_button :category_type, 'expenses', class: 'form-check-input', required: true %>
      <%= f.label :category_type_expense, t('labels.expenses'), class: 'form-check-label' %>
    </div>
    <div>
      <%= f.radio_button :category_type, 'incomes', class: 'form-check-input', required: true %>
      <%= f.label :category_type_income, t('labels.incomes'), class: 'form-check-label' %>
    </div>
  </div>

  <div class="mb-3">
    <%= f.submit @category.new_record? ? t('labels.new') : t('labels.update'), class: "btn btn-primary" %>
  </div>
<% end %>
