<tr>
  <td><%= cost.date %></td>
  <td><%= cost.description %></td>
  <td><span style="color: <%= cost.category.hex_color %>">&#9632;</span> <%= cost.category.name %></td>
  <td><%= cost.amount %></td>
  <td><%= cost.paid %></td>
  <td><%= cost.fixed %></td>
  <td>
    <div class="d-inline-block">
      <%= link_to t('labels.edit'), edit_desktop_cost_path(cost), class: "btn btn-sm btn-link d-inline" %>
    </div>
    <div class="d-inline-block">
      <%= button_to t('labels.destroy'), desktop_cost_path(cost), method: :delete, class: "btn btn-sm btn-link d-inline" %>
    </div>
  </td>
</tr>