<div class="card mb-2">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <span class="text-muted">
       <%= link_to edit_mobile_cost_path(cost), class: 'link-underline link-underline-opacity-0 text-black' do %>
        <%= cost.fixed ? "Fixed cost" : cost.date %>
       <%- end %>
      </span>
    </div>
    <%= link_to edit_mobile_cost_path(cost), class: 'mb1 link-underline link-underline-opacity-0 text-black h5' do %>
      <%= cost.description %>
    <%- end %>
    <div class="d-flex justify-content-between">
      <span class="fw-bold">
        <%= link_to edit_mobile_cost_path(cost), class: 'link-underline link-underline-opacity-0 text-black' do %>
        € <%= cost.amount %>
        <%- end %>
      </span>
      <%= link_to edit_mobile_category_path(cost.category), class: '' do %>
      <span class="badge" style="background: <%= cost.category.hex_color.present? ? cost.category.hex_color : "gray" %>">
        <%= cost.category.name %>
      </span>
      <%- end %>
    </div>
  </div>
</div>
