<tr>
  <td><%= transaction.date %></td>
  <td><%= transaction.description %></td>
  <td><span style="color: <%= transaction.category.hex_color %>">&#9632;</span> <%= transaction.category.name %></td>
  <td><%= transaction.amount %></td>
  <td><%= transaction.paid %></td>
  <td><%= transaction.fixed %></td>
  <td>
    <div class="d-inline-block">
      <%= link_to t('labels.edit'), edit_desktop_transaction_path(transaction), class: "btn btn-sm btn-link d-inline" %>
    </div>
    <div class="d-inline-block">
      <%= button_to t('labels.destroy'), desktop_transaction_path(transaction), method: :delete, class: "btn btn-sm btn-link d-inline" %>
    </div>
  </td>
</tr>