<h5>Report</h5>
<div class="row">
  <div class="col-sm-12 form-group has-feedback">
    <table class="table table-bordered border-black">
      <tbody>
      <tr>
        <td>Total expenses:</td>
        <td><%= currency_formatter(@transactions_report[:total_expenses])%></td>
        <td>Total incomes:</td>
        <td><%= currency_formatter(@transactions_report[:total_incomes])%></td>
        <td>Saved:</td>
        <td><%= currency_formatter(@transactions_report[:saved]) %></td>
      </tr>
      <tr>
        <td>Expenses average as of today:</td>
        <td><%= currency_formatter(@transactions_report[:expenses_average_as_of_today]) %></td>
        <td>Expenses without subscriptions average as of today:</td>
        <td><%= currency_formatter(@transactions_report[:expenses_without_subscriptions_average_as_of_today]) %></td>
        <td>Expenses forecast:</td>
        <td><%= currency_formatter(@transactions_report[:expenses_forecast]) %></td>
      </tr>
      <tr>
        <td>Total days:</td>
        <td><%= @transactions_report[:total_days].to_i %></td>
        <td>Passed days:</td>
        <td><%= @transactions_report[:passed_days].to_i %></td>
        <td>Saving forecast:</td>
        <td><%= currency_formatter(@transactions_report[:expenses_forecast]) %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6 form-group has-feedback">
  </div>
</div>
<hr>